.contact-link {
    display: flex;
    align-items: center;
    gap: 8px;
}

#email {
    visibility: hidden;
    opacity: 0;
    transition: opacity 100ms, visibility 100ms;
}

#email-icon {
    transform: translateX(120px);
    transition: transform 100ms;
}

.contact-link:hover #email {
    visibility: visible;
    opacity: 1;
}

.contact-link:hover #email-icon {
    transform: translateX(0px);
}

#github {
    visibility: hidden;
    opacity: 0;
    transition: opacity 100ms, visibility 100ms;
}

#github-icon {
    transform: translateX(90px);
    transition: transform 100ms;
}

.contact-link:hover #github {
    visibility: visible;
    opacity: 1;
}

.contact-link:hover #github-icon {
    transform: translateX(0px);
}