.fun-link {
    display: flex;
    align-items: center;
    gap: 8px;
}

#link {
    visibility: hidden;
    opacity: 0;
    transition: opacity 100ms, visibility 100ms;
    width: 400px;
}

#link-icon {
    transform: translateX(200px);
    transition: transform 100ms;
}

.fun-link:hover #link {
    visibility: visible;
    opacity: 1;
}

.fun-link:hover #link-icon {
    transform: translateX(0px);
}